.loggedInForm {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.loggedInForm button {
  margin: 5px;
}

#msgBox {
  width: 340px;
  height: 200px;
  resize: none;
}
